<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Learning Academy Suite">

    <test name="Regression Tests"
          parallel="classes"
          thread-count="3">

        <classes>

            <class name="com.learningacademy.testcases.LoginTest"/>
            <class name="com.learningacademy.testcases.CourseTest"/>
            <class name="com.learningacademy.testcases.ActivityTest"/>

        </classes>

    </test>
    <listeners>

        <listener class-name="com.learningacademy.listeners.RetryListener"/>

    </listeners>
</suite>